{% extends './base.html.twig' %}
{% block title %}
    {{ parent() }}Lunettes pour femme
{% endblock %}
{% block body %}
    <h2 class="text-center text-secondary mb-4 pb-4 display-2">
        <font size="10">
            Lunettes pour femme
        </font>
    </h2>
    <div class="row row-cols-md-3">
        {% for femme in femmes %}
            <div class="col text-primary">
                <center>
                    <div class="card" style="width: 18rem;">
                        {% set image = 'image/' ~ femme.image %}
                        <img src="{{ asset(image) }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ femme.nom }}</h5>
                            <p class="card-text">{{ femme.description }}</p>
                            <p class="card-text">{{ femme.prix }}€</p>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if femme in app.user.aimerFemme %}
                                <a class="btn btn-primary" href="{{path('app_favoris_femme',{'id':femme.id})}}" role="button">
                                    <i class="bi bi-star-fill" title="aimer"></i>
                                </a>
                                {% else %}
                                <a class="btn btn-primary" href="{{path('app_favoris_femme',{'id':femme.id})}}" role="button">
                                    <i class="bi bi-star" title="aimer"></i>
                                </a>

                                {% endif %}
                                <a class="btn btn-primary" href="{{path('app_panier_femme',{'id':femme.id})}}" role="button">
                                    <i class="bi bi-bag" title="panier"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </center>
            </div>
        {% endfor %}
    </div>
{% endblock %}
