{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}Lunettes pour homme
{% endblock %}
{% block body %}
    <h2 class="text-center text-secondary mb-4 pb-4 display-2">
        <font size="10">
            Lunettes pour homme
        </font>
    </h2>
    <div class="row row-cols-md-3">
        {% for homme in hommes %}
            <div class="col text-primary">
                <center>
                    <div class="card" style="width: 18rem;">
                        {% set image = 'image/' ~ homme.image %}
                        <img src="{{ asset(image) }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ homme.nom }}</h5>
                            <p class="card-text">{{ homme.description }}</p>
                            <p class="card-text">{{ homme.prix }}€</p>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if homme in app.user.aimerHomme %}
                                <a class="btn btn-primary" href="{{path('app_favoris_homme',{'id':homme.id})}}" role="button">
                                    <i class="bi bi-star-fill" title="aimer"></i>
                                </a>
                                {% else %}
                                <a class="btn btn-primary" href="{{path('app_favoris_homme',{'id':homme.id})}}" role="button">
                                    <i class="bi bi-star" title="aimer"></i>
                                </a>

                                {% endif %}
                                <a class="btn btn-primary" href="{{path('app_panier_homme',{'id':homme.id})}}" role="button">
                                    <i class="bi bi-bag" title="panier"></i>
                                </a>
                                {% endif %}
                        </div>
                    </div>
                </center>
            </div>
        {% endfor %}
    </div>
{% endblock %}
