{% extends 'base.html.twig' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4">Résultats de la recherche</h1>

    {% if results is empty %}
        <p>Aucun résultat trouvé pour votre recherche.</p>
    {% else %}
	    <div class="row row-cols-md-3">
            {% for produit in results %}
                <div class="col text-primary">
                    <center> 
                        <div class="card" style="width: 18rem;">
                            {% set image = 'image/'~ produit.image %}
                            <img src="{{asset(image)}}" class="card-img-top" alt="...">
                            <div class="card-body">					
                                <h5 class="card-title">{{produit.nom}}</h5>
                                <p class="card-text">{{produit.description}}</p>
                                <p class="card-text">{{produit.prix}}€</p>
                            </div>
                            <a class="btn btn-primary" href="{{ path('app_panier_' ~ produit.type, {'id': produit.id, 'type': produit.getType()}) }}" role="button">
								<i class="bi bi-bag" title="panier"></i>
							</a>
                        </div>
                    </center>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
